.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #222222;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ballBg {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 30%;
  max-width: 400px;
}

.content {
  z-index: 1;
  width: calc(100vw - 64px);
  height: calc(100vh - 64px);
  padding: 32px;
  overflow: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}